<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style type="text/css">
        input {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid #e6cbe9;
            border-radius: 4px;
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
            background-color: #DED9E2;
        }

        body {
            background-color: #F7F4EA;
        }
    </Style>
</head>

<body>
    <div id="main">
        <ul>
            <li v-for="user in users">
                {{ user.name}} - {{ user.rol }}
            </li>
        </ul>
    <form>
        <fieldset>
            <label>
                Nombre:
            </label>

            <input type="" v-model="name" name="">
        </fieldset>
        <br>

        <fieldset>
            <label>
                Rol:
            </label>
            <input type="" v-model="rol" rol="">
        </fieldset>
        <button type="button" v-on:click="addUser">
            Agregar
        </button>
    </form>
    </div>



    <script>
        const { createApp, ref } = Vue

        createApp({
            setup() {
                const name = ref('');
                const rol = ref('');
                const message = ref('hello vue')
                let users = ref([
                    {
                        "name": "Julian",
                        "rol": "Backend",
                    },
                    {
                        "name": "Mclovin",
                        "rol": "FullStack"
                    }
                ]);

                return {
                    message,
                    users,
                    name,
                    rol
                }
            },
            methods: {
                addUser() {
                    let momt = {
                        "name": this.name,
                        "rol": this.rol
                    }

                    this.users.push(momt)
                    console.log(momt);

                    this.name = ''
                    this.rol = ''
                }

            },
        }).mount('#main')
    </script>
</body>

</html>